[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/IainWinter/imgui
[submodule "IwEngine/extern/assimp"]
	path = IwEngine/extern/assimp
	url = https://github.com/IainWinter/assimp
