[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/IainWinter/imgui
	ignore = dirty
[submodule "IwEngine/extern/assimp"]
	path = IwEngine/extern/assimp
	url = https://github.com/IainWinter/assimp
	ignore = dirty
[submodule "IwEngine/extern/llvm"]
	path = IwEngine/extern/llvm
	url = https://github.com/IainWinter/llvm-project
	ignore = dirty
[submodule "IwEngine/extern/json"]
	path = IwEngine/extern/json
	url = https://github.com/sheredom/json.h
	ignore = dirty
[submodule "IwEngine/extern/imgui"]
	path = IwEngine/extern/imgui
	url = https://github.com/IainWinter/imgui
	branch = docking
